// Import all of Bootstrap's CSS 
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "navbar";

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

.carousel-item {
  position: relative;
}

.carousel-caption {
  position: absolute;
  bottom: 5px; /* Adjust this value to move the captions up or down */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-bottom: 10px; /* Adjust this value to add more space */
}

html {
  font-size: 1.0rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

#carouselWithCaptions .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}
